<ion-header>
  <navbar title="Kite competition" menu=true iconLabel="scan" icon="bluetooth" (onClick)="scanDevices($event)">
  </navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let device of blePrv.devices">
      <ion-row>
        <ion-col>
          <h2>{{ device.name || 'Unnamed' | truncate : 19 : "..."  }}</h2>
          <p>{{ device.id }}</p>
          <p>RSSI: {{ device.rssi }}</p>
        </ion-col>
        <ion-col text-end>
          <button ion-button outline icon-start color="default" (click)="deviceSelected(device)">
            <ion-icon name="wifi"></ion-icon>
            connect
          </button>
        </ion-col>
      </ion-row>
    </ion-item>
  </ion-list>
  <ion-grid *ngIf="showInfoScan && blePrv.devices.length === 0">
    <ion-row>
      <ion-col text-center>
        <h5>Find your device</h5>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col text-center>
        <button ion-button outline icon-end color="default" (click)="scanDevices()">
          Scan
          <ion-icon name="bluetooth"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <footer label="Capsule Corp "></footer>
</ion-footer>