<svg width="100%" height="100%" class="progress-circle" viewBox="0 0 44 40" preserveAspectRatio="xMidYMid meet">
  
  <text x=22 y=3 font-size="4" text-anchor="middle">
    {{ title }}
  </text>
  <text x="22" y="22" font-size="15" text-anchor="middle" alignment-baseline="central">
    {{ value }}
  </text >
  <text x="22" y="30" font-size="3" text-anchor="middle" alignment-baseline="central">
    {{ unit }}
  </text>

  <!--circulo negro de afuera-->
  <circle class="black" 
    r="16.2" 
    cx="22" 
    cy="22" 
    stroke-width="2" 
    fill="none">
  </circle>
  <!--circulo azul de adentro-->
  <circle class="progress" 
    r="16" 
    cx="22" 
    cy="22" 
    stroke-width="2" 
    fill="none">
  </circle>
  
</svg>
