display {

    h3 {
        text-align: center;
    }

    svg.progress-circle text {
        fill: color($colors, dark);;
        font-family: 'Roboto', arial;
    }

    svg.progress-circle circle.progress {
        stroke: color($colors, default);;
    }

    svg.progress-circle circle.black {
        stroke: color($colors, dark);
    }

    svg {
        display: block;
        margin: auto;
    }

    .blink {
  
        animation-name: blink;
        animation-duration: 1s;
        animation-timing-function: linear;
        animation-iteration-count: 5;
      
        -webkit-animation-name:blink;
        -webkit-animation-duration: 1s;
        -webkit-animation-timing-function: linear;
        -webkit-animation-iteration-count: 5;
      }
      
      
      @-moz-keyframes blink{  
        0% { opacity: 1.0; }
        50% { opacity: 0.0; }
        100% { opacity: 1.0; }
      }
      
      @-webkit-keyframes blink {  
        0% { opacity: 1.0; }
        50% { opacity: 0.0; }
         100% { opacity: 1.0; }
      }
      
      @keyframes blink {  
        0% { opacity: 1.0; }
         50% { opacity: 0.0; }
        100% { opacity: 1.0; }
      }   
}
